<nav class='navbar has-background-light'>
  <div class='nav-brand'>
    <%= link_to root_path, class:'navbar-item' do %>
      <%= image_tag 'padoru-dance' %>
    <% end %>
  </div>

<!-- This is the left side of the navbar after the logo -->
  <div class='navbar-start'>
    <%= link_to 'Padoru Only Posts', root_path, class: 'navbar-item' %>

    <div class='buttons'>
      <% if user_signed_in? %>
        <%= link_to 'Create post', new_user_post_path(current_user), class: 'button is-link' %>
      <% end %>
    </div>

  </div>

<!-- This is the right side of the nav bar, it contains signup and login buttons -->
  <div class='navbar-end'>
    <div class='navbar-item'>
      <div class='buttons'>
        <% if user_signed_in? %>
          <%= link_to current_user.username , edit_user_registration_path, class: 'button is-light' %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'button is-danger' %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'button is-primary' %>
          <%= link_to 'Log in', new_user_session_path, class: 'button is-light' %>
        <% end %>
      </div>
    </div>
  </div>

</nav>
